{%extends "base.html"%}
{%load static%}
{%block head%}
<title>Blog</title>
<link rel = "stylesheet" type = "text/css" href = "{%static 'css/blog.css'%}" />
{%endblock%}
{%block content%}
    <div class="row">
        <div class="col-md-10 offset-md-1 blog-feature d-flex align-items-center">
                <h1 class="mx-auto">Blog</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 px-0 my-3 post-container">
                {% for post in posts %}
                <div class="row">
                    <div class="col-10 offset-1 col-md-8 offset-md-2 post py-3 px-0 d-flex flex-column flex-md-row" >
                        {%if post.image != None%}
                            <img class="blog-picture" src={{post.image.url}}>
                        {%endif%}
                        <div class="post-description">
                            <a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a>
                            <p>{{post.description|linebreaks}}</p>
                        </div>
                    </div>
                </div>    
                {%endfor%}
            
        </div>
    </div>
    
{%endblock%}