{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'css/fd.css' %}">
    </head>
    <body>

        <div id="heading">
            <img src="{%static 'images/fd/party.png'%}" class="balloons">
            <div>
            <h1>Happy Fathers Day</h1>
                <h2>I hope you have a great day can't wait to to see you. Since </br>
                    I didn't get you a fathers day this is the next best thing. Thank you </br>
                    for always being there on the other end of the phone. </br></br>

                    Love you loads, Jack
                </h2>
            </div>
            <img src="{%static 'images/fd/party.png'%}" class="balloons">
        </div>
        

        <div id="images">
            <ul>
                <li><img src="{%static 'images/fd/img1.jpg'%}"></li>
                <li><img src="{%static 'images/fd/img2.jpg'%}"></li>
                <li><img src="{%static 'images/fd/img3.jpg'%}"></li>
                <li><img src="{%static 'images/fd/img4.png'%}"></li>
                <li><img src="{%static 'images/fd/img5.jpg'%}"></li>
                <li><img src="{%static 'images/fd/img6.jpg'%}"></li>
                <li><img src="{%static 'images/fd/img7.jpg'%}"></li>
            </ul>

        </div>
    </body>
</html>