{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'css/fd.css' %}">
    </head>
    <body>

        <div id="heading">
            <img src="{%static 'images/fd/party.png'%}" class="balloons">
            <div>
            <h1>Happy Fathers Day</h1>
                <h2>
                    Since I didn't get you a fathers day this is the next best thing.<br>
                    Thank you for always being there on the other end of the phone, <br>
                    hope you have a great day and I can't wait to to see you. <br><br>
                    Love you loads, Jack
                </h2>
            </div>
            <img src="{%static 'images/fd/party.png'%}" class="balloons">
        </div>
        

        <div id="images">
            <ul>
                <li><img src="{%static 'images/fd/img1.JPG'%}"></li>
                <li><img src="{%static 'images/fd/img2.JPG'%}"></li>
                <li><img src="{%static 'images/fd/img3.JPG'%}"></li>
                <li><img src="{%static 'images/fd/img4.png'%}"></li>
                <li><img src="{%static 'images/fd/img5.JPG'%}"></li>
                <li><img src="{%static 'images/fd/img6.JPG'%}"></li>
                <li><img src="{%static 'images/fd/img7.JPG'%}"></li>
            </ul>

        </div>
    </body>
</html>