{% load static %}
<html>
    <head>
        <title>Jacks Website</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div id="navbar">
        <h1><span>{</span>Jack Lewis<span>}</span></h1>
        <a>Blog</a>
        <a>Profile</a>
        <button id="download">Download CV</button>
    
    
    </div>
    <div id="feature">
        <div id="title">
            <h1>Jack Lewis</h1>
            <h2>Student at University of Birmingham</h2>
            <h2>Studying Computer Science</h2>
        </div>
    </div>
    <div id="about">

    </div>
    <div id="footer">
        
    </div>
</body>
</html>