{% load static %}
<html>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
		<meta charset="utf-8">
	</head>
	<body>
	
		<!-------------- main header -------------->
		<div id="main-container">
				<div id="social-media">
					<img src="{% static '/images/facebook.svg'%}">
					<img src="{% static '/images/instagram.svg'%}">
					<img src="{% static '/images/linkedin.svg'%}">
					<img src="{% static '/images/whatsapp.svg'%}">
				</div>

				<div id="cv-link">
					<h2>Download CV</h2>
					<div id="cv-underline"></div>
				</div>

				<div id="title-info">
					<h1><span>{ </span>Jack Lewis<span> }</span></h1>
					<h2>Student at University of Birmingham <br/>
						Studying Computer Science</h2>
				</div>

				<div class="line"></div>
		</div>

		

		<!-------------- profile/posts-------------->
		<div id="container">

			<!-------------- profile------------->
			<div id="profile-section">
				<h2>Skills</h2>
				<div id="profile-facts">
					<h3>Programming languages</h3>
					<ul>
						<li>- Java</li>
						<li>- Html/Css</li>
						<li>- Python</li>
					</ul>
					</br>
					<h3>Other Skills</h3>
					<ul>
						<li>- Service Now</li>
						<li>- Django</li>
					</ul>
				</div>
			</div>

			<!-------------- posts-------------->
			<div id="post-container">
				{% for post in posts %}
					{% if forloop.first%}
						<div class="post" style="opacity: 1;">
					{% else %}
						<div class="post">
					{% endif %}
							<h2 id="post-title">{{ post.title }}</h2>
							<p id="date">Published: {{ post.published_date }}</p>
							<p>{{ post.text }}</p>
							<div class="post-seperator"></div>
						</div>
				{% endfor %}
			</div>
		</div>	

	

		<script src="{% static '/scripts/fade.js'%}"></script>
	</body>	
</html>