*{
    box-sizing: border-box;
    font-family: Arial;
    font-weight: 1;
}
html{
    background-color: #2A2A2A;
}
body{
    padding: 0;
    margin: 0;
}

/*-------------- Navbar ---------------*/

#navbar{
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height:8%;
    min-height: 2.5rem;
    position: fixed;
    background-color: #2A2A2A;
}
  
#navbar a{
    text-decoration: none;
    transition: color 0.5s;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    color: white;
    cursor: default;
}

#links{
    margin-right: 2rem;
}

#navbar a:hover {
    color: #00E0D3;
}

#navbar .active{
    color: #00E0D3;
}


#navbar #logo{
    margin-left:2rem;
    margin-right: auto;
    color: white;
    font-size: 2rem;
}

#navbar span{
    color: #00E0D3;
}

#menu-toggle{
    display: none;
}
@media screen and (max-width: 768px){

     #menu-toggle{
        position: relative;
        right: 1rem;
        display: block;
    }

    #links{
        background-color: #2A2A2A;
        position: absolute;
        top: 100%;
        width: 100%;
        left: -100%;
        height: 100vh;
        transition: .5s;
    }

    #links a{
        display: block;
        border-style: none none solid none;
        border-color: #00E0D3;
        border-width: 0.1em;
        margin: 0 1rem;
        padding: 0.5rem 0;
        text-align: center;
    }

    #navbar .show-menu{
        left: 0%;
    }


}

/*----------------- Feature ------------------*/ 
 #feature{
    background-image: url("/static/images/brum_bg.png");
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title{
    position: relative;
    width: 100%;
    padding-left: 13%;
}
 #title h1{
     font-size: 4.5rem;
     color: #00E0D3;
 }

 #title h2{
    position: relative;
    bottom: 3rem;
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
    color: #EAEAEA;
 }


 #download{
    background-color: rgba(0, 0,0,0);
    border-style: solid;
    border-radius: 0.6rem;
    border-color: #00E0D3;
    border-width: 0.1rem;
    font-size: 1.2rem;
    color: white;
    padding: 0.7rem;
    transition: .5s;
}

#download:hover{
    background-color: #00E0D3;
    color: black;
}

.down{
    position: absolute;
    bottom:1rem;
}
 @media screen and (max-width: 768px){

   #title{
       text-align: center;
       padding: 0;
   } 

    #title h1{
        font-size: 3.1rem;
        color: #00E0D3;
    }
    #title h2{
        font-size: 1.2rem;
        bottom: 2rem;
     }
    
 }


/*---------------- About ----------------*/
#about{
    background-image: url("/static/images/keyboard.jpg");
    background-size: cover;
    background-position: 45% center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height:82%;
}

#info{
    text-align: justify;
    position: relative;
    align-self: center;
    top: -10%;
    left:10%;
    width:40%;
    max-width:40rem;
    text-align: center;
}


@media screen and (max-width: 768px){
    #info{
        padding-left: 1rem;
        font-size: 0.8rem;
        width: 50%;
        top:-10%;
    }
}


/*------------- Footer ---------------*/
#footer{
    width: 100%;
    height:10%;
    background-color: #2A2A2A;;
}