.blog-feature{
    background-image: url("/static/images/blog-image.jpeg");
    background-size: cover;
    background-position: center center;
    height: 9rem;
}

.blog-feature h1{
    text-align: center;
    color: white;
    font-size: 6rem;
    text-shadow: -0.4rem .4rem 0.5rem rgba(0,0,0,0.3);
}

.post{
    border-bottom:solid 1px black;
}

.post img{
    width:30%;
    border-radius: 4%;
}

.post p{
    font-weight: 300;
    font-size: 1rem;
    
}

.post a{
    text-decoration: none;
    color: #426F8E;
    font-weight: 300;
    font-size: 2rem;
}

.blog-picture{
    min-width:45%;
    max-width:45%;
    margin-right: 5%;
}

.post-description{
    min-width:50%;
    max-width:50%;
}

@media only screen and (max-width: 768px) {
    .blog-picture{
        min-width:100%;
        max-width: 100%;;
    }
    .post-description{
        min-width:100%;
        max-width:100%;
    }
}
