*{
    box-sizing: border-box;
    font-family: Arial;
    color: #3D3D3D;
}

body{
    background-color: #2A2A2A;
    padding: 0;
    margin: 0;
}

#images{
    margin: 0 auto;
    width: 40%;
    border-left-style: solid;
    border-width: 0.2rem;
    border-color: #e0e0e0;
}

#images ul{
    margin:0 ;
}
#images ul li{
    list-style: none;

}

#images ul li:before{
    content: '';
    position: absolute;
    width: 1rem;
    height:1rem;
    left: calc(30% - 0.6rem);
    border-radius: 50%;
    background-color: #ba03fc;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 0.2rem;

}

#images ul li img{
    max-width: 100%;
    margin-bottom: 3rem;
    margin-left: 5%;
}


#images ul li:nth-child(7) img{
    margin-bottom: 0;
}

#heading{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#heading h1{
    margin: 1rem 0;
    color: #ba03fc;
    font-size: 3rem;
    font-weight: 3rem;
}

#heading h2{
    font-size: 1rem;
    color: #e0e0e0;
}

.balloons{
    margin: 0 2rem;
    height: 10rem;
    width: 10rem;
}