/*--------------HEADER ---------------*/
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/static/images/brum_bg.png");
    background-position: center center;
    background-size: cover;
    color:white;
    height: 20rem;
}

.header{
    text-align: center;
}

.header h1{
    font-size: 4rem;
}
.header p{
    font-size: 1.2rem;
}

/*----------------- About------------------*/
#about-info{
    color:  #21394A;
}

#about-btn{
    background-color: #21394A;
    color: white; 
}



/*-----------------LATEST -------------------*/
.latest{
    background-color: #21394A;
    color: white;   
}

.latest img{
    width: 100%;
    height: auto;
}
.latest h1{
    font-weight: 400;
    font-size: 2rem;
}
.latest a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
}

.latest p{
    font-size: 0.8rem;
}
