body { 
	padding: 0;
	margin: 0; 
	font-family: 'Muli', sans-serif;
}


/*------------------- POST SECTION ------------------------*/
#post-container{
	margin: 5vh auto;
	border-radius: 2em;
	width: 80%;
	height: 50%;
	background-color: #f0f0f0;
	position: relative;
	overflow: hidden;
}

.post{
	width: 80%;
	height: 90%;
	left:10%;
	right:10%;
	top:5%;
	bottom:5%;
	overflow-y: scroll;
	text-align: justify;
	transition: opacity 1s;
	opacity: 0;
	position: absolute;
	
}

#post-title{
	color: #303030;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 35;
	
}

#nextBtn{
	opacity: 0.5;
	position: absolute;
	width:5%;
	height: 100%;
	right:0;
	padding-left: 2%;
}

#nextBtn:hover{
	opacity: 0.6;
}

#prevBtn{
	opacity: 0.5;
	position: absolute;
	width:5%;
	height: 100%;
	left:0 ;
	padding-right: 2%;
}

#prevBtn:hover{
	opacity: 0.6;
}


#date{
	
	color: #07d8b6;
	opacity: 1;
	font-size: 21;
	font-weight: bold;
}

/* ----------------------- Main info-----------*/
#title-info{
	text-align: center;
	min-width: 50%;
	margin: 10% auto;
}

#title-info h1{
	font-size: 5em;
}

#title-info span{
	
	color: #07d8b6;
}

#title-info h2{
	opacity: 0.5;
}

.line{
	margin: 0 auto;
	width:90%;
	height:0;
	border-style: solid;
	border-width: 0.05rem;
}


/*------------ cv link---------------*/

#cv-link{
	position: absolute;
	top: 0.5em;
	height: 3rem;
	right:1em;
}

#cv-link h2{
	margin: 0.1em 0em 0.1em 0em;
	height: 3rem;
	padding: 0;
}

#cv-underline{
	position:relative;
	bottom: 1em;
	background-color: #07d8b6;
	width: 100%;
	height: 0.2rem;
}

/*------------ social media handles ---------------*/

#social-media{
	position: relative;
	top: 0.5em;
	display: inline-flex;
}

#social-media img{
	margin: 0.5em 0.5rem;
	min-width: 2rem;
	width: 2.2%;
	height: 2.2%;
}